{% extends 'base.html.twig' %}

{% block title %}BidCardCoin{% endblock %}

{% block body %}
    <h2>Bonjour {{ app.user }}, bienvenue sur votre site de vente aux enchères BidCardCoin !</h2>
    {% if not app.user %}
        <h4>Veuillez vous connectez pour accéder à l'ensemble du site</h4>
        <a class="btn btn-outline-success" href="{{ path('login') }}">Connectez vous</a>
    {% endif %}
    {% if app.user == 'admin' %}

        <h3>Control panel pour les admin</h3>
        <ul>
            <li>
                <a href="{{ path('lot_index') }}">Lot</a>
            </li>
            <li>
                <a href="{{ path('encherir_index') }}">Encherir</a>
            </li>
            <li>
                <a href="{{ path('enchere_index') }}">Enchere</a>
            </li>
            <li>
                <a href="{{ path('ordre_achat_index') }}">Ordre d'Achat</a>
            </li>
            <li>
                <a href="{{ path('lieu_index') }}">Lieu</a>
            </li>
            <li>
                <a href="{{ path('categorie_index') }}">Catégorie</a>
            </li>
            <li>
                <a href="{{ path('produit_index') }}">Produit</a>
            </li>
            <li>
                <a href="{{ path('photo_index') }}">Photo</a>
            </li>
            <li>
                <a href="{{ path('estimation_index') }}">Estimation</a>
            </li>
            <li>
                <a href="{{ path('personne_index') }}">Personne</a>
            </li>
            <li>
                <a href="{{ path('admin_index') }}">Admin</a>
            </li>
        </ul>
    {% else %}
        <ul>
            <li>
                <p>Connectez vous avec un compte admin pour avoir accès au panneau de configuration d'administrateur</p>
            </li>
        </ul>
    {% endif %}

    {# <a class="btn btn-primary" href="{{ path("enchere_index") }}"><i class="fas fa-signal-stream"></i> Enchères en live</a> #}
    {# <a class="btn btn-primary" href="{{ path("produit_new") }}">Vendre</a> #}
    {# <a class="btn btn-primary" href="{{ path("voirEncheres") }}">Voir vos enchères</a> #}

{% endblock %}