{% extends 'base.html.twig' %}

{% block title %}Lot{% endblock %}

{% block body %}
    <h1>Lot</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lot.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lot.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lot.description }}</td>
            </tr>
            <tr>
                <th>EstimationActuelle</th>
                <td>{{ lot.estimationActuelle }}</td>
            </tr>
            <tr>
                <th>PrixVente</th>
                <td>{{ lot.prixVente }}</td>
            </tr>
            <tr>
                <th>PrixReserve</th>
                <td>{{ lot.prixReserve }}</td>
            </tr>
            <tr>
                <th>DateEstimation</th>
                <td>{{ lot.dateEstimation ? lot.dateEstimation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateVente</th>
                <td>{{ lot.dateVente ? lot.dateVente|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Enchère la plus élevée</th>
                {% if bestEnchere %}
                <td><b>{{ bestEnchere.prixPropose }}</td>
                {% else %}
                <td>undifined</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lot_index') }}">Retourner à la liste</a>

    <a href="{{ path('lot_edit', {'id': lot.id}) }}">Modifier</a>

    {{ include('lot/_delete_form.html.twig') }}
{% endblock %}
