{% extends 'base.html.twig' %}

{% block title %}Les produit en fonction du lot {{ lot.nom }}{% endblock %}

{% block body %}
    <h1>Les Produits de {{ lot.nom }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Artiste</th>
            <th>Style</th>
            <th>Region</th>
            {% if app.user %}
                <th>actions</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.artiste }}</td>
                <td>{{ produit.style }}</td>
                <td>{{ produit.region }}</td>
                {% if app.user %}
                    <td>
                        <a href="{{ path('produit_show', {'id': produit.id}) }}">Afficher</a>
                        <a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a class="btn btn-primary" href="{{ path('produit_new') }}">Créer un nouveau produit</a>
        <a class="btn btn-success" href="{{ path('estimation_index') }}">Voir et Créer une nouvelle estimation</a>
        <a class="btn btn-success" href="{{ path('ordre_achat_index') }}">Voir et Créer un nouvel Ordre d'Achat</a>
    {% endif %}
{% endblock %}
