{% extends 'base.html.twig' %}

{% block title %}Encherir index{% endblock %}

{% block body %}
    <h1>Liste des enchères faites {{ app.user.username }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PrixPropose</th>
                <th>Heure</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for encherir in encherirs %}
            <tr>
                <td>{{ encherir.id }}</td>
                <td>{{ encherir.prixPropose }}</td>
                <td>{{ encherir.heure ? encherir.heure|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('encherir_show', {'id': encherir.id}) }}">Afficher</a>
                    <a href="{{ path('encherir_edit', {'id': encherir.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de résultats disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
