{% extends 'base.html.twig' %}

{% block title %}Estimation index{% endblock %}

{% block body %}
    <h1>Liste des Estimations</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Estimation</th>
                <th>DateEstimation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estimation in estimations %}
            <tr>
                <td>{{ estimation.id }}</td>
                <td>{{ estimation.estimation }}</td>
                <td>{{ estimation.dateEstimation ? estimation.dateEstimation|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('estimation_show', {'id': estimation.id}) }}">Afficher</a>
                    <a href="{{ path('estimation_edit', {'id': estimation.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('estimation_new') }}">Créer une nouvelle Estimation</a>
{% endblock %}
