{% extends 'base.html.twig' %}

{% block title %}Enchere index{% endblock %}

{% block body %}
    <h1>Enchere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>HeureDebut</th>
                <th>HeureFin</th>
                <th>DateDebut</th>
                <th>DateFin</th>
                <th>actions</th>
                <th>Lots</th>
            </tr>
        </thead>
        <tbody>
        {% for enchere in encheres %}
            <tr>
                <td>{{ enchere.id }}</td>
                <td>{{ enchere.nom }}</td>
                <td>{{ enchere.heureDebut ? enchere.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ enchere.heureFin ? enchere.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ enchere.dateDebut ? enchere.dateDebut|date('Y-m-d') : '' }}</td>
            {% if enchere.dateFin|date('Y-m-d') == '2016-01-01'%}
                <td>undefined</td>
                {% else %}
                <td>{{ enchere.dateFin ? enchere.dateFin|date('Y-m-d') : '' }}</td>
            {% endif %}
                <td>
                    <a href="{{ path('enchere_show', {'id': enchere.id}) }}">show</a>
                    <a href="{{ path('enchere_edit', {'id': enchere.id}) }}">edit</a>
                </td>
                <td><a href="{{ path("voirLots",{'id': enchere.id}) }}">voir lots</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('enchere_new') }}">Create new</a>
{% endblock %}
