{% extends 'base.html.twig' %}

{% block title %}Enchere index{% endblock %}

{% block body %}
    <h1>Liste des Encheres</h1>
    <a class="btn btn-success" href="{{ path("enchereEnCours") }}">Uniquement les Enchères en cours</a>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>HeureDebut</th>
            <th>HeureFin</th>
            <th>DateDebut</th>
            <th>DateFin</th>
            {% if app.user %}
                <th>actions</th>
            {% endif %}
            <th>Lots</th>
        </tr>
        </thead>
        <tbody>
        {% for enchere in encheres %}
            <tr>
                <td>{{ enchere.id }}</td>
                <td>{{ enchere.nom }}</td>
                <td>{{ enchere.heureDebut ? enchere.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ enchere.heureFin ? enchere.heureFin|date('H:i:s') : '' }}</td>
                <td>{{ enchere.dateDebut ? enchere.dateDebut|date('Y-m-d') : '' }}</td>
                {% if enchere.dateFin|date('Y-m-d') == '2016-01-01' %}
                    <td>undefined</td>
                {% else %}
                    <td>{{ enchere.dateFin ? enchere.dateFin|date('Y-m-d') : '' }}</td>
                {% endif %}
                {% if app.user %}
                    <td>
                        <a href="{{ path('enchere_show', {'id': enchere.id}) }}">Afficher</a>
                        <a href="{{ path('enchere_edit', {'id': enchere.id}) }}">Modifier</a>
                    </td>
                {% endif %}
                <td><a class="btn btn-outline-success" href="{{ path("voirLots",{'id': enchere.id}) }}">Voir lots</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de résultats</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user %}
        <a class="btn btn-primary" href="{{ path('enchere_new') }}">Créer une nouvelle Enchère</a>
    {% endif %}
{% endblock %}
