<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path("home") }}"><i class="fas fa-gavel"></i> BidCardCoin</a>
    <a class="navbar-brand" href="{{ path("enchere_index") }}"><i class="fas fa-signal-stream"></i> Enchere en live</a>
    <a class="navbar-brand" href="{{ path("produit_index") }}">Produit</a>
    <a class="navbar-brand" href="{{ path("produit_new") }}">Vendre</a>

    <a class="navbar-brand" href="{{ path("personne_new") }}"><i class="fas fa-user"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
